.btnLink {
  color: var(--color-white);

  font-size: 1.3rem;
  font-weight: 700;
  
  /* background-color: var(--color-orange); */
  border: 1px solid var(--color-white);
  border-radius: 8px;

  padding: 0.8rem 1.5rem;

  transition: .5s ;
}

.btnLink:hover{
  color: var(--color-back);
  background-color: var(--color-white);
}