@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;

  overflow: hidden;
}

:root{
  --color-white:#fff;
  --color-orange: #f8a726;
  --color-black:#212529;
  --color-black2:#24282e;
  --color-gray:#b8b8b8;
  --color-gray2:#9aadb5;

  --bx-shadow: 0 0 10px rgba(0, 0, 0, 0.459);

  --font-name: 'Bruno Ace', cursive;
  --font-title: 'Righteous', cursive;
}

html,body{
  font-family: 'Roboto', sans-serif;
  font-size: 62.5%;
}

@media screen and (max-width: 768px) and (orientation: portrait){
  html,body{
    font-size: 50%;
  }
}

